
.wd-wireframe {
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    padding: 50px;
    margin: 20px;

}

.wd-navigation-words {
    padding-left: 12px;
}

.wd-fa-stack {
    font-size: 16px;
}


.wd-remove-left-margin {
    position: relative;
    left: -13px;
}

.wd-remove-left-margin-extra {
    position: relative;
    left: -30px;

}

.wd-rounded-corners-all-around-little {
    /*border-radius: 6px;*/
}
.wd-who-to-follow-authenticated {
    padding-left: 4px;
}
