body {
    background-color: black;
}


/*.wd-left-nav-list-dark {*/
/*    background-color: black;*/
/*    color:black;*/
/*}*/


.wd-magnifier {
    font-size: 20px;
    color: #b3b3b3;
    position: relative;
    left:30px;
    top: 14px;

}





.wd-focus-tweet-frame-adjust-upper {
    /*margin-top: -50px;*/
    /*margin-top: -100px;*/
    position: relative;
    top:-60px;
}


.wd-wireframe {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding-left: 50px;
    padding-right: 50px;
    /*padding-top: 10px;*/
    margin: 20px;
    border-bottom-style: hidden;
    border-top-style: hidden;
}




.wd-wireframe-nav {

    border-width: 1px;
    border-style: solid;
    border-color: #404040;
    /*padding: 50px;*/
    /*margin: 20px;*/
    /*margin-top: 8px;*/

}

.wd-wireframe-without-top-bottom {
    border-width: 1px;
    border-style: solid;
    border-color: #262626;
    border-bottom: hidden;
    border-top:hidden;
    /*padding: 50px;*/
    /*margin: 20px;*/
    /*margin-top: 8px;*/
}

.wd-wireframe-without-bottom {
    border-width: 1px;
    border-style: solid;
    border-color: #262626;
    border-bottom: hidden;
    /*padding: 50px;*/
    /*margin: 20px;*/
    /*margin-top: 8px;*/
}

.wd-wireframe-adjust {
    border-width: 1px;
    border-style: solid;
    border-color: #262626;
    border-bottom: hidden;
    /*padding: 50px;*/
    /*margin: 20px;*/
    /*margin-top: 8px;*/
}


.wd-navigation-words {
    padding-left: 12px;
    position:center;
    color:#d9d9d9;
}

.wd-icon-twitter {
    font-size: 1.5em;
}

.wd-nav-icon-normal {
    /*position: relative;*/
    /*top:5px;*/
    position:center;
    color:#d9d9d9;
}

.wd-nav-icon-more {
    /*position: relative;*/
    /*top:-5px;*/
    position:center;
    margin-bottom: -5px;
}


.wd-remove-left-margin {
    position: relative;
    left: -13px;
    bottom:1px;
}

.wd-remove-left-margin-extra {
    position: relative;
    left: -25px;

}
.wd-fa-more-shrink {
    font-size:0.7em;
}

.wd-rounded-corners-all-around-little {
    /*border-radius: 6px;*/
}
.wd-who-to-follow-authenticated {
    padding-left: 4px;
    color:#d9d9d9;
}

.wd-title-bold {
    font-weight: bolder;
}
.wd-who-to-follow-user-name {
    font-weight: bolder;
    color: #e6e6e6;
}


.wd-bookmarks-avatar {
    height: 48px;
    width: 48px;
}
.wd-rounded-pic {
    border-radius: 50%;
}

.wd-nav-tweet-img {
    position: relative;
    top:-10px;
    width: 100%;
}

/*.wd-tweet-img-caption {*/
/*    color: white;*/
/*    position: relative;*/
/*    bottom: 55px;*/
/*    left: 10px;*/
/*}*/
/*.wd-tweet-img-caption-shrink-frame{*/
/*    padding-bottom: -55px;*/
/*}*/
.wd-focus-img {
    padding-top: 10px;
}

.wd-tweet-img-subtitle {
    font-family: "Arial";
    color: lightgrey;
    position: relative;
    bottom:80px;
    left: 12px;
    font-size: 0.8em;
    font-weight: bolder;
}
.wd-tweet-img-title {
    color: white;
    position: relative;
    bottom: 90px;
    left: 10px;
    font-size: 2.5em;
    font-weight: bolder;
}

.a {
    text-decoration: None;
}

.wd-search-cog {
    position: relative;
    bottom: 25px;
    right: 10px;
    size: 0.5em;
}

.fa-cog {
    font-size: 18px;
}

.wd-rounded-corners-all-around {
    border-radius: 18px;
}
.wd-search {
    padding-bottom: 8px;
}


.wd-search-input {
    padding-left: 35px;
    border-style: hidden;
    background-color: #333333;
    margin-top: 10px;

}

.wd-search-cog {
    padding-left: 16px;
    position: relative;
    top: 5px;
    font-size: 1.6em;
    size: 25px;
    color: #b3b3b3;
}

.wd-who-to-follow-user-avatar {
    padding-right: 12px;
}



.wd-float-left {
    float: left;
}

.wd-float-right {
    float: right;
    position: relative;
    top:5px;
}
.wd-float-done {
    clear: both;
}

.wd-who-to-follow-padding {
    padding-top: 10px;

}

.wd-who-to-follow-padding-bottom {
    /*padding-bottom: -5px;*/
    /*position: relative;*/
    /*bottom: -5px;*/
    margin-bottom: -5px;
}

.wd-who-to-follow-button {
    border-radius: 20px;
    background-color: ghostwhite;
    border-style: hidden;
}

.wd-float-right {
    float: right;
}
.wd-float-done {
    clear: both;
}

.wd-who-to-follow-button-word {
    color: black;
    font-weight: bold;
}

.wd-tweet-button {
    border-radius: 20px;
    position: relative;
    top:10px;
    width:95%

}

.wd-tweet-button-link {
    color: white;
    font-weight: bold;
}

.wd-tweet-button-img {

    width: 30px;
    position: relative;
    left: 10px;
    top:10px;

}

.wd-nav-tabs {
    width: 90%;
}

a {
    text-decoration: None;
}


.wd-tweet-preview-img {
    width: 85px;
    height: 85px;
    border-radius: 10px;
    position: relative;
    top: -5px;
    right:-15px

}

.wd-tweet-preview-content {
    padding-top: 3px;
}

.wd-tweet-in-topic {
    /*padding-bottom: 18px;*/

}


.wd-tweet-in-topic-content-preview {
    font-size: 16px;
    color: #e6e6e6;
    font-weight: bold;
    width: 85%;
    font-family: arial;
}

.wd-tweet-in-topic-number{
    font-size: 14px;
    color: dimgrey;
    font-family: arial;

}

.wd-tweet-in-topic-number-adjust-upper {
    margin-top: -18px;

}

.wd-tweet-in-topic-number-adjust-lower {
    margin-bottom: -1px;
}

.wd-tweet-in-topic-subtitle{
    font-size: 14px;
    color: dimgrey;
    padding-top: -10px;
    /*font-family: Helvetica Neue;*/
    font-family: arial;
    margin-bottom: -2px;
}
.wd-tweet-in-topic-time {
    padding-left: 7px;
    font-size: 14px;
    color: dimgrey;
    font-family: arial;

}

.list-group-item:not(.active){
    background-color: black;
    /*border: 1px solid #404040;*/
    border-style: hidden;
}




.wd-who-to-follow-id {
    color: #999999;
}

.wd-who-to-follow-title {
    color: #d9d9d9;
}

.nav-item:not(.active){
    background-color: black;

}
.nav-linknav-link:not(.active) {
    color: #999999;
    border: 1px solid black;
}




.wd-tweet-in-topic-tag-selected {
    font-weight: bolder;
    color: white;
    /*text-decoration: underline;*/
    border-bottom-style: solid;
    /*border-bottom: #7070ff;*/
    /*border-bottom-color: dodgerblue;*/
    border-color: rgb(47, 51, 54);
}

.wd-tags {
    /*padding-top: 12px;*/
    /*display: flex;*/
    padding-bottom: 6px;

}

.wd-tweet-in-topic-tag-word {
    color: dimgrey;
}




.nav-tabs {
    border-style: hidden;
}


.wd-terms {
    padding-left: 20px;
    padding-top: 10px;
    color: rgb(110, 118, 125);
    font-size: 14px;
}

.wd-show-more {
    /*position: relative;*/
    /*top: 10px;*/
    font-weight: bolder;
    color: rgb(29,161,242);
}

/*.wd-who-to-follow-block {*/
/*    background-color: #7070ff;*/
/*    border-style: solid;*/
/*}*/










.wd-tag-style {
    /*width: 100%;*/
    color: rgb(110, 118, 125);
    font-size: 15px;
    padding: 16px;
    font-weight: bolder;
////////////////////////
    /* Stretch out??????? */
    /*text-align-all: center;*/
}

.wd-tag-selected {
    color: rgb(29,161,242);
    /*text-decoration: underline;*/
    border-bottom-style: solid;
    /*border-bottom-color: dodgerblue;*/
////////////////////////
    /* not ideal effect ???? */

}
.wd-tag-unselected {
    /*color: whitesmoke;*/
    /*color: rgb(110, 118, 125);*/
}


.wd-divider {
    padding-left: 16px;
}

.wd-tags {
    padding-top: 12px;
    /*display: flex;*/
    padding-bottom: 15px;

}