.bg-color-red {
    background-color: orangered;
}

.fg-color-white {
    color: white;
}

.bg-color-yellow {
    background-color: yellow;
}

.bg-color-blue {
    background-color: mediumslateblue;
}
