body {
    background: black;
    font-family: Arial;
    /*color: #bedcfe;*/
    /*margin: 0px;*/
    /*display: flex;*/
    /*justify-content: center;*/
}


a {
    text-decoration: none;
    color: #bedcfe;
}

.fa {
    color: white;
}

/*TA的*/
.wd-divider {
    padding: 12px;
    /*max-width: 500px;*/
    /*border-width: 1px;*/
    /*border-style: solid;*/

}

.wd-wireframe {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(47, 51, 54);
    padding-left: 16px;
    padding-top: 12px;
}

/*我的*/
/*.wd-divider {*/
/*    padding-left: 30px;*/
/*}*/

/*.wd-wireframe {*/
/*    border-width: 1px;*/
/*    border-style: solid;*/
/*    border-color: rgb(47, 51, 54);*/
/*    padding-left: 16px;*/
/*}*/

.wd-bookmarks {
    padding-left: 16px;
    padding-bottom: 12px;
    border-bottom-style: hidden;
}
.wd-bookmarks-title {
    color: white;
    font-size: 20px;
    font-family: Arial;
    font-weight: bolder;
}
.wd-bookmarks-user {
    color: lightgray;
    font-size: 13px;
}





/*a {*/
/*    text-decoration: None;*/
/*}*/
/*p {*/
/*    color: pink;*/
/*}*/