body {
    background-color: black;
    padding-top: 10px;
    padding-left: 10px;
}

/*.wd-explore-A-search {*/
/*    padding-top: 50px;*/
/*    padding-left: 50px;*/
/*}*/

.wd-explore-A-search-icon {
    position: relative;
    left: 31px;
    top: 4px;
}
.wd-explore-A-search {
    background-color: darkgray;
    color: white;
    border-radius: 16px;
    height: 22px;
    width: 35%;
}

.wd-explore-A-settings-icon {
    margin-right: 12px;
    position: relative;
    top:4px;
}

.wd-explore-B-tags-1 {
    color:dodgerblue;
    width:10%;
    float:left;
}

/*.wd-explore-B-tags-2 .wd-explore-B-tags-3 .wd-explore-B-tags-4*/
/*.wd-explore-B-tags-5 .wd-explore-B-tags-6 {*/
/*    color: whitesmoke;*/
/*    width:15%;*/
/*    float:left;*/
/*}*/


.wd-explore-B-tags-2 {
    color: whitesmoke;
    width:10%;
    float:left;
}

.wd-explore-B-tags-3 {
    color: whitesmoke;
    width:10%;
    float:left;
}