body {
    background-color: black;
    font-family: Menlo;

}

.wd-divider {
}

.wd-wireframe {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(47, 51, 54);
    padding-left: 16px;
}

a {
    text-decoration: None;
}
.wd-rounded-corners-all-around {
    border-radius: 16px;
}


.wd-float-right {
    float: right;
}
.wd-float-done {
    clear: both;
}

.wd-search {
    padding-top: 5px;
    padding-bottom: 12px;
}

.wd-float-right{}
.wd-float-done {}

.wd-search-icon {
    position: relative;
    left: 40px;
    top: 5px;
    height: 16px;
    width: 16px;
}
.wd-search-input {
    background-color: darkgray;
    /*width: 60%;*/
    height: 26px;
    width: 80%;
}
.wd-setting-gear {
    padding-right: 12px;
}
.wd-search-setting-icon {
    /*margin-right: 12px;*/
    padding-left: 15px;
    position: relative;
    top:7px;
    height:20px;
    width: 20px;
}


.wd-tags {}
.wd-tag-style {
    /*width: 100%;*/
    color: rgb(110, 118, 125);
    font-size: 15px;
    padding: 16px;
    font-weight: bolder;
    ////////////////////////
    /* Stretch out??????? */
    /*text-align-all: center;*/
}

.wd-tag-selected {
    color: rgb(29,161,242);
    text-decoration: underline;
    /*border-bottom-color: dodgerblue;*/
    ////////////////////////
    /* not ideal effect ???? */
}
.wd-tag-unselected {
    /*color: whitesmoke;*/
    /*color: rgb(110, 118, 125);*/
}

.wd-topic{
    padding-top: 12px;
    padding-bottom: 12px;

    padding-right: 16px;
}
.wd-topic-title {
    color: darkgray;
    font-size: 20px;
    font-weight: bolder;
}
.wd-topic-tag {
    color: rgb(110, 118, 125);
    font-size: 13px;
}
.wd-topic-tweets {
    color: rgb(110, 118, 125);
    font-size: 13px;
}

.wd-topic-media {
    color: darkgray;
    font-size: 13px;
    font-weight: bolder;
}
.wd-time-stamp {
    color: rgb(110, 118, 125);
    font-size: 12px;
}

.wd-topic-pic {
    height: 100px;
    width: 100px;
}
/*.wd-topic-pic {*/
/*    height: 100px;*/
/*    padding-right: 16px;*/
/*}*/




