.rotate-paragraph {
    width: 250px;
    height: 250px;
    transform: rotate(90deg);
}


.rotate-list {
    transform: rotate(12deg);
    width: 100px;
    background-color: red;
    color: white;
}


.rotate-list-items li {
    width: 100px;
    text-align: right;
}
.rotate-list-items li:nth-child(1) {
    transform: rotate(-10deg);
    background-color: yellow;
}
.rotate-list-items li:nth-child(2) {
    transform: rotate(2deg);
    background-color: blue;
    color: white;
}
.rotate-list-items li:nth-child(3) {
    transform: rotate(10deg);
    background-color: red;
}


.rotate-image {
    transform: rotate(-10deg);
}

.rotate-table {
    position: relative;
    left: 50px;
    transform: rotate(15deg);}
.rotate-table tr:nth-child(1) {
    background-color: black;
    color: white;}
.rotate-table tr:nth-child(n+2) {
    background-color: yellow;}
.rotate-table tr:nth-child(n+5) {
    background-color: blue;
    color: white;}
.rotate-table tr:nth-child(n+8) {
    background-color: red;}
.rotate-table tr:nth-child(n+11) {
    background-color: green;
    color: white;
}

.gradients-linear {
    background: linear-gradient(lightpink, mediumpurple);
    width: 200px;
    height: 200px;
}

.gradients-radial {
    background: radial-gradient(#40E0D0, yellow);
    width: 200px;
    height: 200px;
}


.gradients-positioned {
    background:
            radial-gradient(at top right, #9FE2BF, #FFBF00);
    width: 200px;
    height: 200px;
    color: deeppink;
}

.animation-keyframes {
    position: relative;
    top: 0px;
    animation-duration: 7s;
    animation-name: slidein;
    width: 150px;
    height: 200px;
    background-color: #6495ED;
    color: #DE3163;
    /*animation-iteration-count: infinite;*/
    /*animation-direction: alternate;*/
    /*what's alternate doing?*/
}

@keyframes slidein {
    from {
        position: relative;
        top: 0px;
        font-size: 90%;
        margin-left: 90%;
        width: 250px;
        height: 250px;
        background-color: #FF00FF;
        color: whitesmoke;
    }
    50% {
        position: relative;
        top: -200px;
        font-size: 450%;
        margin-left: 25%;
        width: 500px;
        height: 500px;
        background-color: #800080;
        color: #C0C0C0;
    }

    to {
        position: relative;
        top: 0px;
        font-size: 100%;
        margin-left: 0%;
        width: 150px;
        height: 200px;
        background-color: #6495ED;
        color: #DE3163;
    }
}


.flex-container {
    border-width: 5px;
    border-color: black;
    border-style: solid;
}
.flex-box {
    border: 5px gray solid;
    margin: 10px;
    padding: 10px;
}
.flex-box-1 {
    background-color: yellow;
}
.flex-box-2 {
    background-color: blue;
    color: white;
}
.flex-box-3 {
    background-color: red;
    color: white;
}

.flex-container {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-between {
    justify-content: space-between;
}


@media (min-width: 0px) and (max-width: 600px) {
    body {
        background-color: yellow;
    }
    .media-query {
        background-color: red;
        color: white;
    }
}
@media (min-width: 600px) and (max-width: 1200px) {
    body {
        background-color: blue;
        color: white;
    }
    .media-query {
        background-color: yellow;
        color: black;
    }
}
@media (min-width: 1200px) and (max-width: 1800px) {
    body {
        background-color: red;
        color: white;
    }
    .media-query {
        background-color: blue;
        color: white;
    }
}

@media (min-width: 1800px) {
    body {
        background-color: white;
        color: pink;
    }
    .media-query {
        background-color: purple;
        color: mediumpurple;
    }
}











